style.css
.asd {
  text-align:right;
  

}
body {
  background-color:blue;
}
header{
  background-color:red;
  height: 50px;
}
footer{
  background-color:red;
  height: 50px;
 }
.dsa {
  justify-content:center;
}

